* {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0px auto;
}

/*--------------------Navbar--------------------*/
.v-toolbar__content {
  border-bottom: 1px solid #dfdfdf;
}

.v-menu__content {
  width: 153px;
  top: 55px !important;
  contain: none !important;
  overflow-y: visible;
  overflow-x: visible;
  box-shadow: 0px 10px 18px -10px rgba(0, 0, 0, 0.251);
}

.navbar-menu-list-after {
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4 !important;
  border-image: initial;
  border-radius: 4px !important;
}

.navbar-menu-list-after:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  right: 30px;
  transform: rotate(45deg);
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
}

.v-list {
  padding: 0px;
}

.v-application a {
  color: #000000 !important;
}

#navbar-menu-before a {
  color: #888888 !important;
  font-size: 15px;
}

#navbar-menu-before a:hover, #navbar-menu-after:hover, .v-application a:hover,
.searchTab-type:hover {
  color: #6ac6c8 !important;
  background-color: white;
  text-decoration: none;
}

#navbar-menu-before:focus, #navbar-menu-after:focus,
.searchTab-type:focus, .searchTab-input:focus {
  outline: none !important;
}

#profile-img-small {
  width: 30px;
  height: 30px; 
  border-radius: 70%;
  margin-right: 7px;
}

#logout-icon {
  float: right;
  color: #646464;
}

/*--------------------MainView--------------------*/
.main-intro {
  padding: 120px;
}

.main-intro-title {
  color: #444444;
  font-size: 42px;
  line-height: 58px;
  letter-spacing: -0.8px;
}

.main-intro-title span {
  color: #6ac6c8;
}

/*--------------------MainSearchTab--------------------*/
.searchTab-container {
  width: 800px;
  height: 60px;
  margin: 0px auto;
  margin-top: 28px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d2d6;
  border-image: initial;
}

.dropdown-menu {
  transform: translate3d(-1px, 56px, 0px) !important;
  min-width: 10px !important;
  width: 126px;
}

.dropdown-item {
  letter-spacing: 0.2px;
  padding: 0.25rem 25px !important;
  text-align: center;
}

.searchTab-type {
  letter-spacing: 0.2px;
  padding: 6px 25px;
}

.searchTab-input {
  height: 30px;
  width: 620px;
  padding: 0px 20px;
  margin: 14px 0px;
  color: #222222;
  font-size: 20px;
  border-width: 0px 0px 0px 1px;
  border-image: initial;
  border-left: 1px solid rgb(221, 221, 221);
}

#search-icon {
  margin: 21px 10px;
  color: #888888;
}

#search-icon:hover {
  cursor: pointer;
}